*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(213, 217, 208);
    
}
.container{
   
    max-width: 300px;
    margin: 5px auto;
    
}



.part input,
.picture-container {
    display: none;
    
}

.part {
    background: rgba(123, 108, 112, 0.933);
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 5px;
    
}


.part-hidden{
    background: rgba(123, 108, 112, 0.933);
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 5px;

    opacity: 0;
    transition: 2s;

}
.part:hover + .part-hidden {
    opacity: 1;
    transition: 5s;
    
}

.part-hidden:hover {
    opacity: 1;
    visibility: visible;
   
}

.part-title{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.part-title::after{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-size:cover;
    background-image: url("./img/open.png");
    transition: .5s;
    
    
}

.picture-container{
    max-height: 300px;
    max-width: 320px;
    padding: 5px;
    transition:2s;
    
    
}
.picture{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 200px;
    
    
    
    
}
.part :checked + .part-title {
    background: rgba(216, 144, 71, 0.933);
    color: #ffffff;
}


.part :checked + .part-title::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-size:cover;
    background-image: url("./img/close.png");
    transition: .3s;
    
    display: none;
}
.part-title::after {
    display: none;
}



/*hover accordeon*/


.accordeon:hover {
    background-color: blanchedalmond;
   
}
.accordeon:hover  .part-title::after {
    display: block;  
}
.accordeon:hover  .click-one {
    color: black;
    transition: 2s;
}

.accordeon:not(:hover) {
    transition: 3s;
  }

/*hover */
.part:hover  .picture-container{
    display: block;
    
}

.part :checked ~ .picture-container {
    display: block;
}


.part:not(:hover) {
    transition: 3s;
  }


